* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

