* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
  font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(252, 252, 252);
}

.parent {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;

}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(182, 231, 231);
  border: 1px solid #0053fa;
  object-fit: cover;
  padding: 2px;
}

.card {
  width: 310px;
  height: 360px;
  background-color: rgb(202, 229, 240);
  border-radius: 44px;
  border: 1px solid #dcdcf7;
  padding: 30px 40px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow:  0 1px 1px rgba(1, 41, 242, 0.12), 0 2px 2px rgba(1, 41, 242, 0.12), 0 4px 4px rgba(1, 41, 242, 0.12), 0 8px 8px rgba(1, 41, 242, 0.12), 0 16px 16px rgba(1, 41, 242, 0.12);
}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top button {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 2px solid rgb(247, 249, 255);
  font-size: 12px;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;      
  border-top: 1px solid #b1b1b1;
  padding-top: 20px;
}

.center h3{
  font-size: 18px;
  font-weight: 500;
}
.center h3 span {
  color: #898888;
  font-weight: 400;
  font-size: 10px;
}

.center h2 {
  font-size: 20px;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}
.center .tag h4{
  font-size: 14px;
  background-color: #ada9f2;
  color: #686868;
  padding: 2px 6px;
  border-radius: 7px;
}

.bottom button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}