* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
    background-color: black;
    color: white;
}

div .parent {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  background-color: #222;
}

p {
  margin: 20px 0;
}

.card .btn {
  padding: 10px 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

img {
  height: 140px;
  width: 140px;
  border-radius: 50%; 
  object-fit: cover;
}