* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body,
html {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  height: 100%;
  inline-size: 100%;
  
}

.card {
  background-color: rgb(111, 10, 71);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 10px 20px;
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
  margin: 20px;
}