* {
  background-color: rgb(121, 20, 20);
  color: white;
}

input, button {
  background-color: rgb(245, 251, 255);
  color: black;
  padding: 20px 40px;
  margin: 20px;
  font-size: 16px;
}

input {
  font-size: xx-large;
}
button {
  cursor: pointer;
}