body {
  background-color: rgb(164, 115, 166);
  color: white;
  font-family: sans-serif;
}

button {
  background-color: rgb(53, 1, 66);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  margin-inline: 10px;
  cursor: pointer;
  border-radius: 13px;
}

h1 {
  font-size: 9rem;
  background-color: bisque;
  color: #3c34c4;
  border-radius: 50%;
  padding: 20px 60px;
  width: fit-content;
  margin-left: 100px; 
}